/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

.registration {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.registration.buttons {
  background-color: #EEE;
  padding: 15px;
  box-shadow: 0px 0px 20px #888888;
}

.registration.buttons:hover {
  cursor: pointer;
  background-color: #EEE;
  padding: 15px;
  box-shadow: 0px 0px 2px #000000;
}

.row.registration-panel {
  background-color: #EEE;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: background-color 2s;
}

.buttons {
  width:40%;
  height:40%;
}

#login {
  margin-right: auto;
  margin-left: auto;
  display: block;

}

.left-col {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  background-color: #ADE2F0;
  box-shadow: 10px 0px 5px #888888;
}
.lowerleft {
  padding: 40px;

}

.right-col {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
#new_user {
  position: relative;
  height: 0px;
  width: 400px;
  padding-left: 0;
  padding-right: 50px;
  line-height: 0;
  margin-left: 100px;
  margin-right: auto;
}

#media-reg-form {
  opacity: 0;
  transition: opacity 1s;
}

#source-reg-form {
  margin-left: 450px;
  opacity: 0;
  transition: opacity 1s;
}

.name {
  width:50%;
}

#editbutton {
  border-style: solid;
  border-color: #00a6cf;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  background-color: #D6F0F8;
  float: right;
}
.interests {
  padding: 5px;
  border-style: solid;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #888888;
  float:left;
}
.interests li {
  list-style-type: none;
}